.aside__container {
  height: 100%;
  background: var(--basic-light);
  text-align: center;
  grid-column: 1;
  grid-row: 1 / 3;
  align-self: start;
  display: grid;
  justify-content: center;
  align-items: start;
}

@media print {
  .aside__container * {
    font-size: 0.6;
  }
}

@media print {
  .aside__container {
    border-right: 2px solid var(--basic-light);
  }
}

.aside__container h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 1vh;
  text-transform: uppercase;
}

@media print {
  .aside__container h2 {
    font-size: 1.2em;
  }
}

.aside__photo {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  object-position: center;
  justify-self: center;
}

@media print {
  .aside__photo {
    
    height: 150px;
    width: 150px;
  }
}

.aside__item {
  padding: 0;
  margin: 0;
}

.aside__item-row {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
  text-align: left;
}

.aside__item-row p {
  display: inline;
}

.aside__item-row img {
  position: relative;
  top: 5px;
  display: inline;
}
